
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap');

h1{
    font-family: 'Yeseva One', sans-serif;
    }

h2{
    font-family: 'Noto Serif TC', serif;
    }

h3{
    font-family: 'Yeseva One', sans-serif;
}

h4{
    font-family: 'Noto Serif TC', serif;
}

p{
    font-family: 'Noto Sans TC', sans-serif;
}

.noto-tc-serif {
    font-family: 'Noto Serif TC' !important;
    }

.noto-tc-sans {
    font-family: 'Noto Sans TC' !important;
    }
